
.menu{
    display: flex;
    flex-direction: row;
}
li{
    margin-top: 5px;
}
div > ul > li{
    margin-left: 60px;
}
.submenu{
    opacity: 0;
}
li:nth-child(4):hover .submenu{
    opacity: 1;
}
a{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    color: yellowgreen;
}
#btnDel{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    margin-left: 40px;
}